.warning {
  background: $warning;
}

.primary {
  background: $primary;
}

.purple {
  background: $purple;
}

.success {
  background: $success;
}

.deep-primary {
  background: $deep-primary;
}

.deep-warning {
  background: $deep-warning;
}

.deep-success {
  background: $deep-success;
}

.deep-purple {
  background: $deep-purple;
}

.deep-blue {
  background: $blue;
}
