$bg-gray: #E5E5E5;

$white: #ffffff;
$black: #000000;
$gray: #8F9BB3;
$dark-gray: #252E37;
$blue: #00A1FF;

$warning: #FEF6ED;
$primary: #ECF5FF;
$purple: #EEEEFB;
$success: #EBFBF5;

$deep-primary: #8EC7FB;
$deep-warning: #FADBB5;
$deep-success: #B1F1D7;
$deep-purple: #C5C5F1;
